@font-face{
    font-family: 'rugen';
    src: url("./resource/font/rugenexpanded.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: 'mclaren';
    src: url("./resource/font/mclaren.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

#carousel::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
}
#carousel img{
    height: 8rem;
    width: auto;
    flex-shrink: 0;
    //margin-right: 0.5rem;
    user-select: none;
    pointer-events: auto;
}
#carousel {
    mask-image: linear-gradient(to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 25%,
        rgba(0, 0, 0, 1) 75%,
        rgba(0, 0, 0, 0)
    );
}
